<p>home works!</p>


<div [hidden]="captcha">
    <p>Hello potential human...</p>
    <re-captcha (resolved)="resolved($event)" siteKey="RECAPTCHA_SITE_KEY_GOES_HERE"></re-captcha>
</div>
<div [hidden]="!captcha">
    <p>{{ email }}</p>
</div>